.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/

warehouse/*
!warehouse/retail.duckdb
data/raw/

dbt/target/
dbt/dbt_packages/
dbt/logs/

.DS_Store
.env
uv.lock

!warehouse/customer_segments.parquet
